*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #000;
}

#container{
    height: 85%;
    width: 50%;
    padding-top: 60px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#container h1{
    margin-bottom: 30px;
    color: #fff;
}

#container #content{
    width: 100%;
    height: 100%;
    text-align: center;

    background-color: #eb144c;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#content h3.session{
    padding: 30px 30px 0 30px;
    font-size: 45px;
    color: #fff;
}

#content .timer{
    color: #fff;
    padding: 20px 30px;
    font-size: 128px;

    display: flex;
    justify-content: center;
}

#content #buttons button.disabled{
    pointer-events: none;
    opacity: 0.8;
}

#content #buttons button:nth-child(2){
    margin-left: 30px;
}

#content #buttons button{
    padding: 12px 24px;
    background: white;

    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    transition: background 200ms;

    border: none;
    outline: none;
}

#content #buttons button:hover{
    background: rgb(151, 151, 151);
}

footer{
    height: 40%;
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

footer .lenght{
    width: 100%;
    height: 100%;
    padding: 0 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .lenght .adjust-timer{
    height: 80px;
    display: flex;
    align-items: center;
}

footer .lenght h3{
    text-align: center;
}

footer .lenght span{
    background-color: #eb144c;
    border-radius: 50%;
    cursor: pointer;
    transition: background 100ms;

    padding: 8px;
    height: 40px;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer .lenght span:hover{
    background-color: #790a28;
}

footer .lenght input{
    width: 50px;
    height: 40px;
    margin: 0 30px;

    color: white;
    background-color: #eb144c;

    outline: none;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-weight: 700;
}